<%- include('./partials/navbar.ejs') %>

<div class="container">
  <div class="total-funds">
    <h3 id="total-funds__amount" class="total-funds__amount">$<%= bank.toFixed(2) %></h3>
  </div>
  <div class="modify-funds">
    <button class="btn btn-success shadow border border-dark" data-toggle="modal"
      data-target="#addIncome__trigger">Add Income</button>
    <button class="btn btn-danger shadow border border-dark" data-toggle="modal" data-target="#addExpense__trigger">Deduct Expense</button>
  </div>
  <!-- Modal Income-->
  <div class="modal fade" id="addIncome__trigger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-success">Add Income <i class="fas fa-hand-holding-usd"></i></h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/transaction" method="POST">
            <div class="form-group">
              <label for="amount">Total</label>
              <input type="number" name="amount" class="form-control" min="0.01" step="0.01"
                placeholder="$ 0.00" max="1000000" required>
              <input type="hidden" name="impact" value="pos">
              <input type="hidden" name="bank" value="<%= bank %>">
            </div>
            <div class="form-group">
              <label for="name">From</label>
              <input type="name" name="name" class="form-control" placeholder="Enter Resource Name" required/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary shadow" data-dismiss="modal">Close</button>
              <button type="submit" id="glowPos" class="btn btn-success shadow">Add Income</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Expenses-->
  <div class="modal fade" id="addExpense__trigger" tabindex="-1" role="dialog" aria-labelledby="expenseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-danger">Expense <i class="fas fa-receipt"></i></h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/transaction" method="POST">
            <div class="form-group">
              <label for="amount">Total</label>
              <input type="number" name="amount" class="form-control" min="0.01" step="0.01"
                placeholder="$ 0.00" max="1000000" required>
              <input type="hidden" name="impact" value="neg">
              <input type="hidden" name="bank" value="<%= bank %>">
            </div>
            <div class="form-group">
              <label for="name">For</label>
              <input type="name" name="name" class="form-control" placeholder="Enter Expense Name" required/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary shadow" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger shadow">Deduct Expense</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal ADD BILL-->
  <div class="add-bill-modal">
    <div class="modal__content">
      <div class="card card-body">
        <button type="button" class="close-exit d-none d-md-block">
          <span>&times;</span>
        </button>
        <h2 class="text-center mb-3"><i class="fas fa-file-invoice-dollar"></i> Add Bill</h2>
        <form action="/bill/add" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control bill-input" placeholder="Enter Bill Name" required>
          </div>
          <div class="form-group">
            <label for="amount">Amount Due</label>
            <input type="number" name="amount" class="form-control bill-input" min="0.01" step="0.01"
              placeholder="$ 0.00" required>
          </div>
          <div class="form-group">
            <label for="date">Next Billing Date</label>
            <input type="date" name="date" class="form-control bill-input" min="<%= today %>" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary shadow close-exit-button" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary shadow">ADD BILL</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ALL Modals END -->
  <div class="addbill">
    <a href="#" id="addbill__link" class="trigger"> <i class="fas fa-file-invoice-dollar"></i> Add New Bill</a>
  </div>
  <div class="track-bar">
    <div class="track-bar__fill"></div>
  </div>
  <div id="monthly__expenses">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Due Date</th>
          <th scope="col">Expense Name</th>
          <th scope="col">Amount Owed</th>
          <th scope="col">Make Payment</th>
        </tr>
      </thead>
      <tbody>
        <% for (let bill of bills) { %>
          <tr>
            <td><%= formatDateDay(bill.date) %></td>
            <td>
              <form action="/bill/update" method="POST">
                <input type="hidden" name="bill_id" value="<%= bill.id %>">
                <button type="submit" class="btn btn-link">
                  <%= bill.name %>
                </button>
              </form>
            </td>
            <td>$ <%= bill.amount.toFixed(2) %></td>
            <td>
              <form action="/transaction" method="POST">
                <input type="hidden" name="amount" value="<%= bill.amount %>">
                <input type="hidden" name="impact" value="neg">
                <input type="hidden" name="bank" value="<%= bank %>">
                <input type="hidden" name="name" value="<%= bill.name %>">
                <input type="hidden" name="date" value="<%= today %>">
                <button type="submit" class="btn btn-outline-success shadow">Pay</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <% if(bills.length === 0) {%>
      <h3 class="text-center"><i class="fas fa-bell"></i> Add Some Bills</h3>
    <% } %>
  </div>
  <!-- Recent Transactions-->
  <% if (transactions.length >= 3) { %>
    <h4 class="form-text text-muted text-center mt-3">Recent Transactions</h4>
    <div class="transaction-sm">
      <% for (let i = transactions.length - 1; i > transactions.length - 4; --i) { %>
        <p class="transaction-title"><%= transactions[i].name %></p>
        <div class="transaction-info">
          <p class="transaction-date"><%= formatDate(transactions[i].date) %></p>
          <p class="transaction-bank">$<%= transactions[i].bank.toFixed(2) %></p>
        </div>
      <% if(transactions[i].impact !== 'pos') { %>
        <p class="transaction-amount neg">-$ <%= transactions[i].amount.toFixed(2) %></p>
      <% } else {%>
        <p class="transaction-amount">$ <%= transactions[i].amount.toFixed(2) %></p>
      <% } %>
      <hr>
      <% } %>
    </div>
  <% } %>
  <hr>
<script src="../js/app.js" type="module"></script>