<%- include('./partials/navbar.ejs') %>

<div class="container">
  <h1 class="text-center mb-3">History <i class="fas fa-history"></i></h1>
  <% if(transactions.length === 0){ %>
    <div class="container text-center">
      <!-- <img class="img-thumbnail" src="images/nothing_to_see.jpg"> -->
      <h3 class="text-secondary">Complete a transaction to populate <i class="fas fa-book"></i></h3>
    </div>
  <% } else { %>
  <div class="transaction">
    <% for (let trans of transactions) { %>
      <p class="transaction-title"><%= trans.name %></p>
      <div class="transaction-info">
        <p class="transaction-date"><%= formatDate(trans.createdAt) %></p>
        <p class="transaction-bank">$<%= trans.bank.toFixed(2) %></p>
      </div>
      <% if(trans.impact !== 'pos') { %>
        <p class="transaction-amount neg">-$ <%= trans.amount.toFixed(2) %></p>
      <% } else {%>
        <p class="transaction-amount">
          $ <%= trans.amount.toFixed(2) %>
        </p>
      <% } %>
      <hr>
    <% } %>
  </div>
  <hr>
  <% } %>
</div>