<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-light">
  <a class="navbar-brand" href="#">MoneyLeft</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
      <a class="nav-item nav-link" href="/history">History</a>
      <a class="nav-item nav-link" href="/settings">Settings</a>
      <a class="nav-item nav-link" href="/logout">Log Out</a>
    </div>
  </div>
</nav>

<div class="container">
  <h1 class="text-center mb-3">History <i class="fas fa-history"></i></h1>
  <div class="filter-triggers text-center">
    <button class="btn shadow btn-outline-primary">WEEK</button>
    <button class="btn shadow btn-outline-dark">MONTH</button>
    <button class="btn shadow btn-outline-dark">3 MONTHS</button>
    <button class="btn shadow btn-outline-warning">ALL</button>
  </div>

  <% if(transactions.length === 0){ %>
    <div class="container text-center">
      <img class="img-thumbnail" src="images/nothing_to_see.jpg">
    </div>
  <% } else { %>
  <div class="transaction">
    <% for (let trans of transactions) { %>
      <p class="transaction-title"><%= trans.name %></p>
      <div class="transaction-info">
        <p class="transaction-date"><%= formatDate(trans.date) %></p>
        <p class="transaction-bank">$<%= trans.bank %></p>
      </div>
      <% if(trans.impact !== 'pos') { %>
        <p class="transaction-amount neg">-$ <%= trans.amount%></p>
      <% } else {%>
        <p class="transaction-amount">$ <%= trans.amount%></p>
      <% } %>
      <a href=""><i class="fas fa-trash-alt"></i></a>
      <hr>
    <% } %>
  </div>
  <hr>
  <% } %>

</div>